# ðŸŽ“ Proyecto Fin de MÃ¡ster: DetecciÃ³n de Fraude
#    Importar librerÃ­as

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime
from IPython.display import display

print("âœ… All necessary libraries have been imported successfully.")

âœ… All necessary libraries have been imported successfully.

### Fase 1: ExploraciÃ³n y DiagnÃ³stico
- [ ] Cargar todos los datasets
- [ ] Analizar estructura y tipos de datos
- [ ] Identificar todos los problemas de calidad
- [ ] Documentar hallazgos

In [6]:
# Cargar todos los datasets

transactions = pd.read_csv('transactions.csv', sep=';')
countries = pd.read_csv('countries.csv')
devices = pd.read_csv('devices.csv', sep=';')
merchants = pd.read_csv('merchants.csv')
users = pd.read_csv('users.csv')


print("âœ… Datasets cargados exitosamente.")

âœ… Datasets cargados exitosamente.

In [7]:
# Analizar las primeras filas de cada dataset

print("Transactions Dataset:")
display(transactions.head())

print("Countries Dataset:")
display(countries.head())

print("Devices Dataset:")
display(devices.head())

print("Merchants Dataset:")
display(merchants.head())

print("Users Dataset:")
display(users.head())

print("=" * 120)  

#Analizar estructura de los datos y estadÃ­sticas descriptivas
print("\nTransactions Dataset Info:")
display(transactions.info())
print("\nTransactions Dataset Description:")
display(transactions.describe(include='all'))

print("\nCountries Dataset Info:")
display(countries.info())
print("\nCountries Dataset Description:")
display(countries.describe(include='all'))

print("\nDevices Dataset Info:")
display(devices.info())
print("\nDevices Dataset Description:")
display(devices.describe(include='all'))

print("\nMerchants Dataset Info:")
display(merchants.info())
print("\nMerchants Dataset Description:")
display(merchants.describe(include='all'))

print("\nUsers Dataset Info:")
display(users.info())
print("\nUsers Dataset Description:")
display(users.describe(include='all'))

Transactions Dataset:

,transaction_id,user_id,account_age_days,total_transactions_user,avg_amount_user,amount,country,bin_country,channel,merchant_category,promo_used,avs_match,cvv_result,three_ds_flag,transaction_time,shipping_distance_km,is_fraud,merchant_id,amount_raw
0,1,1,141,47,147.93,84.75,FR,FR,web,travel,0,1,1.0,1,2024-01-06T04:09:39Z,370.95,0,64,84.75
1,2,1,141,47,147.93,107.9,FR,FR,web,travel,0,0,0.0,0,2024-01-09T20:13:47Z,149.62,0,6,107.9
2,3,1,141,47,147.93,92.36,FR,FR,app,travel,1,1,1.0,1,2024-01-12T06:20:11Z,164.08,0,352,92.36
3,4,1,141,47,147.93,112.47,FR,FR,web,fashion,0,1,1.0,1,2024-01-15T17:00:04Z,397.40,0,287,112.47
4,5,1,141,47,147.93,132.91,FR,US,web,electronics,0,1,1.0,1,2024-01-17T01:27:31Z,935.28,0,204,132.91

Countries Dataset:

,country_code,country_name,region,currency,risk_tier,population_millions,gdp_per_capita
0,US,United States,North America,USD,low,331.0,63000
1,GB,United Kingdom,Europe,GBP,low,67.0,42000
2,FR,France,Europe,EUR,low,67.0,40000
3,DE,Germany,Europe,EUR,Low,83.0,46000
4,ES,Spain,Europe,EUR,LOW,47.0,27000

Devices Dataset:

   device_id  user_id device_type       os  browser  first_seen is_trusted
0          1     3372      tablet    MacOS     Edge  13/05/2023        yes
1          2     4899     desktop    Linux  Firefox  09/06/2024         no
2          3     1488      tablet    MacOS  Firefox  25/06/2024      False
3          4     4867      Mobile  android  Firefox  01/05/2023       True
4          5     1264      tablet      iOS     Edge  06/08/2023        yes

Merchants Dataset:

,merchant_id,merchant_name,category,country,avg_ticket,fraud_rate_historical,years_active,mcc_code,is_verified
0,1,CQN Store 820,grocrey,FR,327.13,0.0918,5.0,5311,0
1,2,XUR Shop 292,Gaming,TR,179.46,0.0841,7.0,7011,1
2,3,QNG Market 193,moda,IT,442.39,0.0587,3.0,5311,0
3,4,WEH Retail 653,electrÃ³nics,PL,492.73,0.0108,2.0,7011,1
4,5,LLS Store 504,GAMING,PL,170.93,0.0931,19.0,5411,1

Users Dataset:

,user_id,email,registration_date,user_country,age,gender,income_bracket,phone_verified,risk_score
0,1,user_1@gmail.com,2023-08-02,FR,56.0,F,medium,No,27.58
1,2,user_2@yahoo.es,2020-08-16,US,69.0,F,NaN,no,49.93
2,3,user_3@hotmail.com,2020-02-21,TR,46.0,F,low,no,31.20
3,4,user_4@gmail.com,2021-07-17,PL,32.0,M,medium,Yes,92.15
4,5,user_5@yahoo.es,2021-05-16,PL,60.0,M,high,Yes,53.66

========================================================================================================================

Transactions Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301795 entries, 0 to 301794
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   transaction_id           301795 non-null  int64
 1   user_id                  301795 non-null  int64
 2   account_age_days         301795 non-null  int64
 3   total_transactions_user  301795 non-null  int64
 4   avg_amount_user          301795 non-null  float64
 5   amount                   300896 non-null  object
 6   country                  301795 non-null  object
 7   bin_country              301795 non-null  object
 8   channel                  301295 non-null  object
 9   merchant_category        301195 non-null  object
 10  promo_used               301795 non-null  int64
 11  avs_match                301795 non-null  int64
 12  cvv_result               301245 non-null  float64
 13  three_ds_flag            301795 non-null  int64
 14  transaction_time         301795 non-null  object
 15  shipping_distance_km     300595 non-null  float64
 16  is_fraud                 301795 non-null  int64
 17  merchant_id              301795 non-null  int64
 18  amount_raw               300897 non-null  object
dtypes: float64(3), int64(9), object(7)
memory usage: 43.7+ MB

None

Transactions Dataset Description:

,transaction_id,user_id,account_age_days,total_transactions_user,avg_amount_user,amount,country,bin_country,channel,merchant_category,promo_used,avs_match,cvv_result,three_ds_flag,transaction_time,shipping_distance_km,is_fraud,merchant_id,amount_raw
count,3.017950e+05,301795.000000,301795.000000,301795.000000,301795.000000,300896,301795,301795,301295,301195,301795.000000,301795.000000,301245.000000,301795.000000,301795,300595.000000,301795.000000,301795.000000,300897
unique,NaN,NaN,NaN,NaN,NaN,61444,21,10,10,5,NaN,NaN,NaN,NaN,297384,NaN,NaN,NaN,62236
top,NaN,NaN,NaN,NaN,NaN,5.0,US,US,web,electronics,NaN,NaN,NaN,NaN,2025-06-15T10:30:00Z,NaN,NaN,NaN,5.0
freq,NaN,NaN,NaN,NaN,NaN,1527,32527,32518,152824,60529,NaN,NaN,NaN,NaN,249,NaN,NaN,NaN,1521
mean,1.525152e+05,3185.383575,973.531129,50.674044,148.176237,NaN,NaN,NaN,NaN,NaN,0.153667,0.838049,0.872041,0.784586,NaN,357.117855,0.022005,251.814006,NaN
std,9.953135e+04,4456.114911,525.244828,5.976821,200.671106,NaN,NaN,NaN,NaN,NaN,0.360630,0.368406,0.334045,0.411110,NaN,427.747001,0.146700,148.709516,NaN
min,1.000000e+00,1.000000,1.000000,40.000000,3.520000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,1.000000,NaN
25%,7.511750e+04,1503.000000,516.000000,46.000000,46.190000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,1.000000,NaN,136.650000,0.000000,126.000000,NaN
50%,1.502720e+05,3012.000000,975.000000,51.000000,90.130000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,1.000000,NaN,272.970000,0.000000,250.000000,NaN
75%,2.254205e+05,4514.000000,1425.000000,56.000000,173.450000,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,1.000000,NaN,409.200000,0.000000,376.000000,NaN
max,1.199535e+06,99994.000000,1890.000000,60.000000,4565.290000,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,NaN,3748.560000,1.000000,1495.000000,NaN

Countries Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_code         13 non-null     object
 1   country_name         13 non-null     object
 2   region               13 non-null     object
 3   currency             12 non-null     object
 4   risk_tier            12 non-null     object
 5   population_millions  12 non-null     float64
 6   gdp_per_capita       13 non-null     int64
dtypes: float64(1), int64(1), object(5)
memory usage: 860.0+ bytes

None

Countries Dataset Description:

,country_code,country_name,region,currency,risk_tier,population_millions,gdp_per_capita
count,13,13,13,12,12,12.000000,13.000000
unique,13,13,4,6,8,NaN,NaN
top,US,United States,Europe,EUR,low,NaN,NaN
freq,1,1,9,5,4,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,100.916667,34077.000000
std,NaN,NaN,NaN,NaN,NaN,109.638628,20455.954561
min,NaN,NaN,NaN,NaN,NaN,17.000000,-999.000000
25%,NaN,NaN,NaN,NaN,NaN,44.750000,15500.000000
50%,NaN,NaN,NaN,NaN,NaN,67.000000,40000.000000
75%,NaN,NaN,NaN,NaN,NaN,83.250000,46000.000000
max,NaN,NaN,NaN,NaN,NaN,331.000000,63000.000000

Devices Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25500 entries, 0 to 25499
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   device_id    25500 non-null  int64
 1   user_id      25500 non-null  int64
 2   device_type  25500 non-null  object
 3   os           22322 non-null  object
 4   browser      21930 non-null  object
 5   first_seen   25500 non-null  object
 6   is_trusted   22675 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.4+ MB

None

Devices Dataset Description:

,device_id,user_id,device_type,os,browser,first_seen,is_trusted
count,25500.000000,25500.000000,25500,22322,21930,25500,22675
unique,NaN,NaN,6,7,6,701,6
top,NaN,NaN,tablet,Linux,Edge,13/04/2023,1
freq,NaN,NaN,4318,3325,3780,62,5703
mean,12497.780941,2996.196392,NaN,NaN,NaN,NaN,NaN
std,7217.432420,1733.104207,NaN,NaN,NaN,NaN,NaN
min,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,6252.750000,1484.000000,NaN,NaN,NaN,NaN,NaN
50%,12488.500000,2990.500000,NaN,NaN,NaN,NaN,NaN
75%,18748.250000,4505.000000,NaN,NaN,NaN,NaN,NaN
max,25000.000000,6000.000000,NaN,NaN,NaN,NaN,NaN

Merchants Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   merchant_id            500 non-null    int64
 1   merchant_name          500 non-null    object
 2   category               500 non-null    object
 3   country                500 non-null    object
 4   avg_ticket             470 non-null    float64
 5   fraud_rate_historical  500 non-null    float64
 6   years_active           470 non-null    float64
 7   mcc_code               500 non-null    int64
 8   is_verified            500 non-null    int64
dtypes: float64(3), int64(3), object(3)
memory usage: 35.3+ KB

None

Merchants Dataset Description:

,merchant_id,merchant_name,category,country,avg_ticket,fraud_rate_historical,years_active,mcc_code,is_verified
count,500.000000,500,500,500,470.000000,500.000000,470.000000,500.00000,500.000000
unique,NaN,500,25,10,NaN,NaN,NaN,NaN,NaN
top,NaN,CQN Store 820,grocrey,TR,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,29,58,NaN,NaN,NaN,NaN,NaN
mean,250.500000,NaN,NaN,NaN,266.224511,0.174310,9.736170,5750.37400,0.856000
std,144.481833,NaN,NaN,NaN,136.506065,0.459829,5.428207,782.84691,0.351441
min,1.000000,NaN,NaN,NaN,20.160000,0.000000,1.000000,4111.00000,0.000000
25%,125.750000,NaN,NaN,NaN,160.485000,0.035075,5.000000,5411.00000,1.000000
50%,250.500000,NaN,NaN,NaN,269.085000,0.077100,9.000000,5912.00000,1.000000
75%,375.250000,NaN,NaN,NaN,381.507500,0.114625,14.000000,5999.00000,1.000000
max,500.000000,NaN,NaN,NaN,499.510000,2.875400,19.000000,7011.00000,1.000000

Users Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6300 entries, 0 to 6299
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            6300 non-null   int64
 1   email              6300 non-null   object
 2   registration_date  6300 non-null   object
 3   user_country       6300 non-null   object
 4   age                5914 non-null   float64
 5   gender             6050 non-null   object
 6   income_bracket     5700 non-null   object
 7   phone_verified     6300 non-null   object
 8   risk_score         6300 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 443.1+ KB

None

Users Dataset Description:

,user_id,email,registration_date,user_country,age,gender,income_bracket,phone_verified,risk_score
count,6300.000000,6300,6300,6300,5914.000000,6050,5700,6300,6300.000000
unique,NaN,6300,1850,10,NaN,4,4,8,NaN
top,NaN,user_1@gmail.com,2020-07-09,US,NaN,F,medium,1,NaN
freq,NaN,1,12,672,NaN,2944,2643,820,NaN
mean,2998.174762,NaN,NaN,NaN,46.764964,NaN,NaN,NaN,50.024113
std,1730.673393,NaN,NaN,NaN,21.659228,NaN,NaN,NaN,28.960460
min,1.000000,NaN,NaN,NaN,-10.000000,NaN,NaN,NaN,0.000000
25%,1502.750000,NaN,NaN,NaN,32.000000,NaN,NaN,NaN,25.060000
50%,2996.500000,NaN,NaN,NaN,46.000000,NaN,NaN,NaN,49.535000
75%,4494.250000,NaN,NaN,NaN,61.000000,NaN,NaN,NaN,75.525000
max,6000.000000,NaN,NaN,NaN,199.000000,NaN,NaN,NaN,99.980000

In [9]:
# Identificar problemas de calidad de datos

def identify_data_issues(df, df_name):
    print(f"\nData Quality Issues in {df_name} Dataset:")
    
    # Valores nulos
    null_counts = df.isnull().sum()
    print("\nNull Values:")
    display(null_counts[null_counts > 0])
    
    # Duplicados
    duplicate_count = df.duplicated().sum()
    print(f"\nDuplicate Rows: {duplicate_count}")
    
    # Tipos de datos inconsistentes
    print("\nData Types:")
    display(df.dtypes)
    
    # Valores atÃ­picos (usando IQR para variables numÃ©ricas)
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    for col in numeric_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers = df[(df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR))]
        print(f"\nOutliers in {col}: {len(outliers)}")
        display(outliers)